<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Mon Feb 03 17:37:44	KST 2014 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		cacheEnabled - 캐시 사용 설정. default: true
		lazyLoadingEnabled lazy - loading 설정. default: true
		multipleResultSetsEnabled - 하나의 statement에서 다수 ResultSet 허락여부. default: true
		defaultExecutorType - 기본 executor지정. default: SIMPLE, 이 설정으로 batch 처리가 가능하다.
		jdbcTypeForNull - null 값에 대한 JDBC 타입을 지정
		callSettersOnNulls - Map사용할 때 리턴값이 null이어도 컬럼 누락되지 않도록. default: false
	 -->
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="jdbcTypeForNull" value="VARCHAR"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="returnInstanceForEmptyRow" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="HMap" type="java.util.HashMap" />
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" jdbcType="CLOB" javaType="java.lang.String"/>
		<typeHandler handler="org.apache.ibatis.type.StringTypeHandler" jdbcType="CLOB" javaType="java.lang.Object" />
	</typeHandlers>
	<plugins>
	    <plugin interceptor="farin.vue.example.handlr.StatementInterceptor"/>
<!-- 	    <plugin interceptor="cj.common.core.dataaccess.interceptor.OraclePagingInterceptor"/> -->
	</plugins>
</configuration>